.posts {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.posts .post {
    background: #1B1B1B;
    color: white;
    display: flex;
    border: solid black 1px;
    justify-content: space-between;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.posts .post:hover {
    background: #3a3a3a;
}

.posts .post-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.posts .delete-button {
    background: #65D1FF;
    width: 10rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.3s;
}

.posts .delete-button:hover {
    background: red;
}

@media screen and (max-width: 650px){
    .posts .delete-button {
        width: 8rem;
        font-size: 14px;
    }

    .posts {
        width: 100%;
    }

    .posts .post-title{
        font-size: 18px;
    }

    .posts .post-date {
        font-size: 12px;
    }

    .posts .post-details {
        font-size: 14px;
    }
}