.posts {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.post {
    background: #1B1B1B;
    color: white;
    display: flex;
    border: solid black 1px;
    justify-content: space-between;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.post:hover {
    background: #3a3a3a;
}

.post-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.delete-button {
    background: #65D1FF;
    width: 10rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.3s;
}

.delete-button:hover {
    background: red;
}