.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-container {
    display: flex;
}


@media screen and (max-width: 650px){
    .home-container {
        flex-direction: column;
    }
}